<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

{{content}}
</body>
</html>